@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
}
.acp-convention {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .bg-long {
    width: 100%;
    padding: 30px 10%;
    height: 400px;
    @media (max-width: 768px) {
      padding: 10px;
    }
    .header-area {
      backdrop-filter: blur(6px);
      background: rgba(0, 59, 101, 0.819);
      border-radius: 10px 10px 0px 0;
      align-items: center;
      padding: 20px;
      .header-text {
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        @media (max-width: 768px) {
          font-size: 70%;
        }
        h1 {
          text-transform: uppercase;
        }
      }
      .logog {
        width: 300px;
        margin: 10px auto;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        img {
          width: 100px;
        }
        @media (max-width: 668px) {
          //   grid-template-columns: repeat(1, 1fr);
          img {
            width: 60px;
          }
        }
      }
    }
  }

  .acp-form {
    margin-top: -150px;
    width: 100%;
    padding: 0 10%;
    @media (max-width: 768px) {
      padding: 20px;
    }
    .max-form {
      background-color: #ececec;
      border-radius: 3px;
      padding: 40px 100px;
      @media (max-width: 768px) {
        padding: 20px;
      }
      .form-ctrl {
        .form-header {
          margin-bottom: 40px;
        }
        .form-body {
          .section-head {
            margin: 20px 0;
            padding: 10px;
            background-color: rgba(0, 59, 101, 0.962);
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: #808080;
            margin-bottom: 5px;
            font-style: italic;
          }
          .formset {
            margin-bottom: 20px;
            .form-group {
              display: flex;
              align-items: flex-start;
              justify-content: flex-start;
              flex-direction: column;
              // margin-bottom: 20px;
              label {
                font-size: 16px;
                font-weight: 400;
                color: #3b3b3b;
                margin-bottom: 10px;
              }
              input,
              select,
              textarea {
                width: 100%;
                padding: 8px;
                border-radius: 2px;
                border: 1px solid #ccc;
                font-size: 16px;
                font-weight: 400;
                color: #3b3b3b;
              }
            }
            .splash {
              margin: 20px 0;
            }
          }
        }
        .form-footer {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          .btn-submit,
          .btn-reset {
            color: #fff;
            width: 100%;
            padding: 10px 20px;
            border-radius: 2px;
            border: none;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #002a4d;
            }
          }

          .btn-submit {
            background-color: #02528a;
          }

          .btn-reset {
            background-color: #646464;
          }
        }
      }
    }
  }
}

.grid2 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  @media (max-width: 668px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid3 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 660px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid4 {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.imgbox,
.lefty {
  .field,
  .field-container {
    margin-bottom: 10px;
    .preview-container {
      background-image: url("https://static.vecteezy.com/system/resources/thumbnails/036/594/092/small_2x/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg");
      background-position: center center;
      background-size: cover;
      height: 300px;
      width: 100%;
      object-fit: contain;
      @media (max-width: 900px) {
        width: 300px;
      }
      @media (max-width: 550px) {
        width: 100%;
        height: 250px;
      }
      img {
        width: 100%;
      }
    }
    input,
    select {
      width: 100%;
      background-color: #fff;
      // box-shadow: 1px 1px 10px 1px #cecece;
    }
    label {
      margin: 0;
      font-size: 13px;
      color: #000000;
    }
  }
}
.imgbox {
  width: 30%;
  @media (max-width: 768px) {
    width: 100%;
  }
}
