{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}{{member.first_name}} {{member.last_name}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="schools-den">
  <div class="head flex">
    <h1>{{member.first_name}} {{member.last_name}}</h1>
    <hr />
  </div>
  <div class="imagebox">
    <img src="{{member.photo.url}}" alt="" width="200px" />
    <div class="details">
      <li>{{member.first_name}} {{member.last_name}}</li>
      <li>{{member.school}}</li>

      <li>{{member.region}}</li>

      <li>{{member.district}}</li>

      <li>{{member.designation}}</li>

      <li>{{member.contact}}</li>
    </div>
  </div>
</div>

{% endblock %}
