{% extends "dashboard/dashboard.html" %}

<!--static-->
{% block title %}ACP Delegates{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="page-content">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0 font-size-18">ACP Delegates</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Delegates</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="filter">
              <h2>Filter Delegates</h2>
              <form method="get" class="form-contol">
                <div class="row mb-2">
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="school">Designation</label>
                      {{ filter.form.designation}}
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="championship">Registering For</label>
                      {{ filter.form.registering_for}}
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="sport">ACP Member</label>
                      {{ filter.form.is_icp_member}}
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="level">Country</label>
                      {{ filter.form.country}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 mb-3">
                    <button type="submit" class="btn btn-primary">
                      Apply Filter
                    </button>
                  </div>
                </div>
              </form>
              <div class="row mb-2">
                <div class="col-md-4">
                  <form method="post">
                    {% csrf_token %}
                    <input
                      type="submit"
                      name="Accreditation"
                      value="Accreditation"
                      class="btn btn-secondary"
                    />
                  </form>
                </div>
                <div class="col-md-4">
                  <form method="post">
                    {% csrf_token %}
                    <input
                      type="submit"
                      name="Certificate"
                      value="Certificate"
                      class="btn btn-secondary"
                    />
                  </form>
                </div>
                <div class="col-md-4">
                  <a href="{% url 'export_csv' %}" class="btn btn-secondary"
                    >Export CSV</a
                  >
                </div>
              </div>
            </div>
            <div class="card-body">
              <table id="myTable" class="table dt-responsive nowrap w-100">
                <thead>
                  <tr>
                    <th>Names</th>
                    <th>Institution</th>
                    <th>Designation</th>
                    <th>Country</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                </thead>

                <tbody>
                  {% for delegate in filter.qs %}

                  <tr>
                    <td>
                      <a href="{% url 'delegate' delegate.id%}"
                        >{{delegate.title}} {{delegate.first_name}} {{delegate.surname}}</a
                      >
                    </td>
                    <td>{{delegate.school_institution}}</td>
                    <td>{{delegate.designation}}</td>
                    <td>{{delegate.country}}</td>
                    <td>{{delegate.email}}</td>
                    <td>
                      <a
                        href="{%url 'update_delegate' delegate.id %}"
                        class="btn btn-primary"
                        >Edit</a
                      >

                      <a
                        href="{%url 'delete_delegate' delegate.id %}"
                        class="btn btn-danger"
                        >Delete</a
                      >
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- end row -->
  </div>
  <!-- end row -->

  {% endblock %}
</div>
