{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}{{delegate.first_name}} {{delegate.last_name}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="page-content">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0 font-size-18">Delegate</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">#000000{{delegate.id}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm order-2 order-sm-1">
                <div class="d-flex align-items-start mt-3 mt-sm-0">
                  <div class="flex-shrink-0">
                    <div class="avatar-xl me-3">
                      {% if delegate.photo %}
                      <img
                        src="{{delegate.photo.url}}"
                        alt=""
                        class="img-fluid rounded-circle d-block"
                      />{% endif %}
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-16 ">
                        {{delegate.title}} {{delegate.first_name}}
                        {{delegate.surname}}
                      </h5>
                      <p class="text-muted font-size-13">
                        {{delegate.school_institution}}
                      </p>

                      <div
                        class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13"
                      >
                        <div>{{delegate.designation}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-auto order-1 order-sm-2">
                <div class="d-flex align-items-start justify-content-end gap-2">
                  <div>
                    <button type="button" class="btn btn-soft-light">
                      <i class="me-1"></i> Message
                    </button>
                  </div>
                  <div>
                    <div class="dropdown">
                      <button
                        class="btn btn-link font-size-16 shadow-none text-muted dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bx bx-dots-horizontal-rounded"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="tab-content">
          <div class="tab-pane active" id="overview" role="tabpanel">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">About</h5>
              </div>
              <div class="card-body">
                <div>
                  <div class="pb-3">
                    <div class="row">
                      <div class="col-xl-2">
                        <div>
                          <h5 class="font-size-15">Bio :</h5>
                        </div>
                      </div>
                      <div class="col-xl">
                        <div class="text-muted">
                          <p class="mb-2">
                            Hi I'm Phyllis Gatlin, Lorem Ipsum is simply dummy
                            text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text
                            ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type
                            specimen book. It has survived not only five
                            centuries, but also the leap into electronic
                            typesetting, remaining essentially unchanged. It was
                            popularised in the 1960s with the release of
                            Letraset sheets containing Lorem Ipsum passages
                          </p>
                          <p class="mb-0">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at it has a more-or-less normal distribution
                            of letters
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="py-3">
                    <div class="row">
                      <div class="col-xl-2">
                        <div>
                          <h5 class="font-size-15">Experience :</h5>
                        </div>
                      </div>
                      <div class="col-xl">
                        <div class="text-muted">
                          <p>
                            If several languages coalesce, the grammar of the
                            resulting language is more simple and regular than
                            that of the individual languages. The new common
                            language will be more simple and regular than the
                            existing European languages. It will be as simple as
                            Occidental; in fact, it will be Occidental. To an
                            English person, it will seem like simplified
                            English, as a skeptical Cambridge friend of mine
                            told me what Occidental is. The European languages
                            are members of the same family. Their separate
                            existence is a myth. For science, music, sport, etc
                          </p>

                          <ul class="list-unstyled mb-0">
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >Donec vitae sapien ut libero venenatis faucibus
                            </li>
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >Quisque rutrum aenean imperdiet
                            </li>
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >Integer ante a consectetuer eget
                            </li>
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >Phasellus nec sem in justo pellentesque
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
          </div>
          <!-- end tab pane -->
        </div>
        <!-- end tab content -->
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- container-fluid -->
</div>

{% endblock %}
