{% extends "dashboard/dashboard.html" %}
<!--static-->
{% block title %}{{delegate.first_name}} {{delegate.last_name}}{% endblock %}
<!--static-->
{% load static %}
<!--khfufufu-->
{% block content %}
<div class="page-content">
  <div class="container-fluid">
    <!-- start page title -->
    <div class="row">
      <div class="col-12">
        <div
          class="page-title-box d-sm-flex align-items-center justify-content-between"
        >
          <h4 class="mb-sm-0 font-size-18">Delegate</h4>

          <div class="page-title-right">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">#000000{{delegate.id}}</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->

    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm order-2 order-sm-1">
                <div class="d-flex align-items-start mt-3 mt-sm-0">
                  <div class="flex-shrink-0">
                    <div class="avatar-xl me-3">
                      {% if delegate.photo %}
                      <img
                        src="{{delegate.photo.url}}"
                        alt=""
                        class="img-fluid rounded-circle d-block"
                      />{% endif %}
                    </div>
                  </div>
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="font-size-16 ">
                        {{delegate.title}} {{delegate.first_name}}
                        {{delegate.surname}}
                      </h5>
                      <p class="text-muted font-size-13">
                       @{{delegate.badge_name}}
                      </p>

                      <div
                        class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13"
                      >
                        <div>{{delegate.designation}}, {{delegate.school_institution}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-auto order-1 order-sm-2">

                    <div class="dropdown">
                      <button
                        class="btn btn-link font-size-16 shadow-none text-muted dropdown-toggle"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="bx bx-dots-horizontal-rounded"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li>
                          <a class="dropdown-item" href="#">Another action</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#"
                            >Something else here</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="tab-content">
          <div class="tab-pane active" id="overview" role="tabpanel">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title mb-0">About</h5>
              </div>
              <div class="card-body">
                <div>
                  <div class="pb-3">
                    <div class="row">
                      <div class="col-xl-2">
                        <div>
                          <h5 class="font-size-15">Address :</h5>
                        </div>
                      </div>
                      <div class="col-xl">
                        <div class="text-muted">
                          <p class="mb-2">
                                 {{delegate.telephone}} <br />
                            {{delegate.email}} <br />
                            {{delegate.passport_number}}
                          </p>
                          <p class="mb-0">
                       {{delegate.city}}, {{delegate.country}}
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="py-3">
                    <div class="row">
                      <div class="col-xl-2">
                        <div>
                          <h5 class="font-size-15">Miscellaneous :</h5>
                        </div>
                      </div>
                      <div class="col-xl">
                        <div class="text-muted">
                          <p>
                           {{delegate.additional_info}}
                          </p>

                          <ul class="list-unstyled mb-0">
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >Emergency contact:<strong> {{delegate.emergency_contact}}</strong>  
                            </li>
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >Social Media: <strong> {{ delegate.accept_social_media }}</strong>
                             
                            </li>
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >POPIA Compliance: <strong> {{ delegate.popia_acknowledged }}</strong>
                             
                            </li>
                            <li class="py-1">
                              <i
                                class="mdi mdi-circle-medium me-1 text-success align-middle"
                              ></i
                              >Share Contact Details: <strong> {{ delegate.share_info_with_delegates }}</strong>
                             
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end card body -->
            </div>
          </div>
          <!-- end tab pane -->
        </div>
        <!-- end tab content -->
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- container-fluid -->
</div>

{% endblock %}
