# Django settings
asshu/settings.py
# usssa/urls.py
# django.log

# Django migrations
accounts/migrations/*
teachers/migrations/*
base/migrations/*
dashboard/migrations/*
events/migrations/*
articles/migrations/*
acp/migrations/*
agm/migrations/*
unsa/migrations/*
# zone/migrations/*


# Media and uploaded files (one level up)
photo/
featured_images/
member_photos/
student_photos/
# trainee_photos/
# transfer_documents/
# certificates/
events/images/
# qr_codes/