{% extends "home/index.html" %}
<!---->
{% load static %}
<!---->
{% block title %}About Us{% endblock %} {% block content %}
<!-- Page Title -->
<section
  class="page-title"
  style="background-image: url('{% static 'images/resource/page-title.jpg' %}')"
>
  <div class="auto-container">
    <div class="content-box">
      <div class="title centred">
        <h1>About Us</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a href="index.html">Home</a></li>
        <li>About Us</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- about-style-three -->
<section class="about-style-three">
  <div class="auto-container">
    <div class="row clearfix align-items-center">
      <div class="col-lg-4 col-md-12 col-sm-12 content-column">
        <div class="content_block_5">
          <div class="content-box">
            <div class="sec-title">
              <h6>
                <i class="fi fi-br-star"></i><span>Welcome to ASSHU</span>
              </h6>
              <h2>ASSHU</h2>
              <div class="title-shape"></div>
            </div>
            <div class="text">
              <h4>ASSHU Was “Founded in 2006</h4>
              <p>
                Traces its origins back to 2006 as the Head Teachers Association
                (HTA). The association evolved into what was first known as
                National ASSHU (NASSHU), before it was officially named ASSHU.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 image-column">
        <figure class="image-box">
          <img src="{% static 'images/resource/about-2.jpg'%}" alt="" />
        </figure>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 inner-column">
        <div class="feature-block-one">
          <div class="inner-box">
            <figure class="image">
              <img src="{% static 'images/resource/feature-1.jpg'%}" alt="" />
            </figure>
            <div class="text">
              <h4>Our Offices</h4>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
            </div>
            <div class="overlay-content">
              <h4>Council Information</h4>
              <p>
                Demoralized by the charm some pleasure of the moment so blinded.
              </p>
            </div>
          </div>
        </div>
        <div class="feature-block-one">
          <div class="inner-box">
            <figure class="image">
              <img src="{% static 'images/resource/feature-2.jpg'%}" alt="" />
            </figure>
            <div class="text">
              <h4>Latest Annual Plan</h4>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
            </div>
            <div class="overlay-content">
              <h4>Latest Annual Plan</h4>
              <p>
                Demoralized by the charm some pleasure of the moment so blinded.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- history-section -->
<section class="history-section">
  <figure class="image-layer">
    <img src="{% static 'images/resource/history-5.jpg'%}" alt="" />
  </figure>
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12 col-sm-12 title-column">
        <div class="sec-title">
          <h6><i class="fi fi-br-star"></i><span>History of ASSHU</span></h6>
          <h2>Our Presidents through the years</h2>
          <div class="title-shape"></div>
          <p>
            Symbols of ethusiam, endurance, courage, leadership and teamwork.
          </p>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
        <div class="inner-box">
          <div class="single-item style-one">
            <figure class="image-box">
              <img src="{% static 'images/resource/history-1.jpg'%}" alt="" />
            </figure>
            <div class="text">
              <span>2006</span>
              <h6>Madam Zizinga Rose</h6>
              <h4>Makerere College School</h4>
              <p>
                She served with dedication from 2006 to 2012, laying the
                foundation for the association’s development and recognition at
                the national level.
              </p>
            </div>
          </div>
          <div class="single-item style-two text-right">
            <figure class="image-box">
              <img src="{% static 'images/resource/history-2.jpg'%}" alt="" />
            </figure>
            <div class="text">
              <span>2012</span>
              <h6>Ms. Kotilda Nakate Kikomeko</h6>
              <h4>Trinity College Nabbingo</h4>
              <p>
                Her tenure ran until 2018, during which the association grew in
                membership and visibility.
              </p>
            </div>
          </div>
          <div class="single-item style-one">
            <figure class="image-box">
              <img src="{% static 'images/resource/history-3.jpg'%}" alt="" />
            </figure>
            <div class="text">
              <span>2018</span>
              <h6>Mr. Okima Martin Ogoro</h6>
              <h4>Teso College Aloet</h4>
              <p>
                His leadership focused on enhancing professional development and
                strengthening regional engagement among head teachers.
              </p>
            </div>
          </div>
          <div class="single-item style-two text-right">
            <figure class="image-box">
              <img src="{% static 'images/resource/history-4.jpg'%}" alt="" />
            </figure>
            <div class="text">
              <span>2022</span>
              <h6>Brother Mugabo</h6>
              <h4>St. Henry’s College</h4>
              <p>
                He served until his retirement in 2023, during which he
                emphasized institutional sustainability and collaboration with
                key stakeholders in the education sector.
              </p>
            </div>
          </div>
          <div class="single-item style-one">
            <figure class="image-box">
              <img src="{% static 'images/resource/history-3.jpg'%}" alt="" />
            </figure>
            <div class="text">
              <span>2023</span>
              <h6>Mrs. Deborah Basekanakyo Wesonga</h6>
              <h4>Wanyange Girls School</h4>
              <p>
                Under her leadership, the association continues to champion the
                advancement of secondary education in Uganda, while advocating
                for the professional interests and welfare of head teachers
                across the country.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- history-section -->
<!-- discover-section -->
<section
  class="discover-section sec-pad"
  style="
    background-image: url('{% static 'images/discover-bg.jpg' %}');
  "
>
  <div class="auto-container">
    <div class="sec-title centred light">
      <h6>
        <i class="fi fi-br-star"></i><span>Discover Our ASSHU</span
        ><i class="fi fi-br-star"></i>
      </h6>
      <h2>Diverse & Exciting ASSHU</h2>
      <div class="title-shape"></div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-3 col-md-6 col-sm-12 discover-block">
        <div
          class="discover-block-one wow fadeInUp animated animated"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box"><i class="fi fi-ss-employee-man"></i></div>
              <h4>Jobs at <br />Our ASSHU Govt</h4>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">01</span>
            </div>
            <div class="overlay-content">
              <h4>Jobs at <br />Our ASSHU Govt</h4>
              <p>
                Except to obtain some from it but who has any right find enjoy a
                pleasure.
              </p>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">01</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 discover-block">
        <div
          class="discover-block-one wow fadeInUp animated animated"
          data-wow-delay="200ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box"><i class="fi fi-rr-house-building"></i></div>
              <h4>Our Building & <br />Squares</h4>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">02</span>
            </div>
            <div class="overlay-content">
              <h4>Our Building & <br />Squares</h4>
              <p>
                Except to obtain some from it but who has any right find enjoy a
                pleasure.
              </p>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">02</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 discover-block">
        <div
          class="discover-block-one wow fadeInUp animated animated"
          data-wow-delay="400ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box"><i class="fi fi-tr-lead-management"></i></div>
              <h4>Partner <br />Oraganisations</h4>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">03</span>
            </div>
            <div class="overlay-content">
              <h4>Partner <br />Oraganisations</h4>
              <p>
                Except to obtain some from it but who has any right find enjoy a
                pleasure.
              </p>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">03</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 discover-block">
        <div
          class="discover-block-one wow fadeInUp animated animated"
          data-wow-delay="600ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <div class="content-box">
              <div class="icon-box"><i class="fi fi-ss-region-pin"></i></div>
              <h4>Venue & <br />Facilities Hire</h4>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">04</span>
            </div>
            <div class="overlay-content">
              <h4>Venue & <br />Facilities Hire</h4>
              <p>
                Except to obtain some from it but who has any right find enjoy a
                pleasure.
              </p>
              <a href="about.html"><i class="fi fi-rr-arrow-small-right"></i></a>
              <span class="count">04</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- discover-section end -->

<!-- team-section -->
<section class="team-section sec-pad">
  <div class="auto-container">
    <div class="sec-title">
      <h6><i class="fi fi-br-star"></i><span>Whitehall Team</span></h6>
      <h2>Meet Council Members</h2>
      <div class="title-shape"></div>
      <a href="index.html" class="theme-btn">All members</a>
    </div>
    <div class="row clearfix">
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-1.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">Deborah Basekanakyo</a></h4>
                <span class="designation">President</span>
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">+44 888 12 345</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="200ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-2.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">Hajjat Nabukeera Zulaika</a></h4>
                <span class="designation">National General Secretary</span>
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">+44 888 12 345</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="400ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-3.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">Opoka Christopher</a></h4>
                <span class="designation"
                  >1<sup>st </sup> Vice Chairperson</span
                >
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">0392972607</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="600ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-4.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">John Ngirabakunzi</a></h4>
                <span class="designation">National Assistant Secretary</span>
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">+44 888 12 345</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team-section end -->

<!-- information-section -->
<section class="information-section bg-color-1">
  <div
    class="bg-layer"
    style="
      background-image: url('{% static 'images/resource/information-bg.jpg' %}');
    "
  ></div>
  <div class="auto-container">
    <div class="sec-title centred light">
      <h6>
        <i class="fi fi-br-star"></i><span>ASSHU Information</span
        ><i class="fi fi-br-star"></i>
      </h6>
      <h2>Information & Attractions</h2>
      <div class="title-shape"></div>
    </div>
    <div class="inner-content">
      <div class="schedule-carousel">
        <div class="information-block-one">
          <div class="inner-box">
            <span class="count">01.</span>
            <div class="icon-box"><i class="flaticon-diagram"></i></div>
            <div class="text">
              <h4>Statistics and Census</h4>
              <p>
                Human happiness no one rejects dislikes avoids pleasure itself
                because it is pleasure but because those who do not know.
              </p>
              <a href="about.html"
                >Read More<i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="information-block-one">
          <div class="inner-box">
            <span class="count">02.</span>
            <div class="icon-box"><i class="flaticon-diagram"></i></div>
            <div class="text">
              <h4>Statistics and Census</h4>
              <p>
                Human happiness no one rejects dislikes avoids pleasure itself
                because it is pleasure but because those who do not know.
              </p>
              <a href="about.html"
                >Read More<i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="information-block-one">
          <div class="inner-box">
            <span class="count">03.</span>
            <div class="icon-box"><i class="flaticon-diagram"></i></div>
            <div class="text">
              <h4>Statistics and Census</h4>
              <p>
                Human happiness no one rejects dislikes avoids pleasure itself
                because it is pleasure but because those who do not know.
              </p>
              <a href="about.html"
                >Read More<i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- information-section end -->

<!-- award-section -->
<section class="award-section bg-color-1">
  <figure class="image-layer">
    <img src="{% static 'images/resource/award-1.png'%}" alt="" />
  </figure>
  <div
    class="vector-image"
    style="background-image: url('{% static 'images/resource/vector-2.png' %}')"
  ></div>
  <div class="auto-container">
    <div class="sec-title">
      <h6><i class="fi fi-br-star"></i><span>Our Awards</span></h6>
      <h2>ASSHU Council Be Proud Awards</h2>
      <div class="title-shape"></div>
    </div>
    <div class="row clearfix">
      <div class="col-xl-3 col-lg-4 col-md-6 award-block">
        <div class="award-block-one">
          <div class="inner-box">
            <figure class="award-box">
              <div
                class="bg-pattern"
                style="
                  background-image: url('{% static 'images/resource/icon-bg-1.png' %}');
                "
              ></div>
              <img src="{% static 'images/icons/award-1.png'%}" alt="" />
            </figure>
            <h4>ASSHU Women’s Day <br />Awards</h4>
            <div class="overlay-content">
              <div
                class="bg-pattern-2"
                style="
                  background-image: url('{% static 'images/resource/icon-bg-2.png' %}');
                "
              ></div>
              <h4>ASSHU Women’s Day <br />Awards</h4>
              <p>
                Righteous indignation and men who are so demoralized by the
                charm pleasure.
              </p>
              <a href="about.html"
                >Read More<i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 award-block">
        <div class="award-block-one">
          <div class="inner-box">
            <figure class="award-box">
              <div
                class="bg-pattern"
                style="
                  background-image: url('{% static 'images/resource/icon-bg-1.png' %}');
                "
              ></div>
              <img src="{% static 'images/icons/award-2.png'%}" alt="" />
            </figure>
            <h4>ASSHU Community <br />Awards</h4>
            <div class="overlay-content">
              <div
                class="bg-pattern-2"
                style="
                  background-image: url('{% static 'images/resource/icon-bg-2.png' %}');
                "
              ></div>
              <h4>ASSHU Community <br />Awards</h4>
              <p>
                Righteous indignation and men who are so demoralized by the
                charm pleasure.
              </p>
              <a href="about.html"
                >Read More<i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 award-block">
        <div class="award-block-one">
          <div class="inner-box">
            <figure class="award-box">
              <div
                class="bg-pattern"
                style="
                  background-image: url('{% static 'images/resource/icon-bg-1.png' %}');
                "
              ></div>
              <img src="{% static 'images/icons/award-3.png'%}" alt="" />
            </figure>
            <h4>ASSHU Sustainability <br />Awards</h4>
            <div class="overlay-content">
              <div
                class="bg-pattern-2"
                style="
                  background-image: url('{% static 'images/resource/icon-bg-2.png' %}');
                "
              ></div>
              <h4>ASSHU Sustainability <br />Awards</h4>
              <p>
                Righteous indignation and men who are so demoralized by the
                charm pleasure.
              </p>
              <a href="about.html"
                >Read More<i class="flaticon-right-arrow"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- award-section end -->

<!-- feature-section -->
<section
  class="feature-section sec-pad"
  style="background-image: url('{% static 'images/resource/feature-bg.jpg' %}')"
>
  <div class="auto-container">
    <div class="sec-title centred">
      <h6>
        <i class="fi fi-br-star"></i><span>Council Information</span
        ><i class="fi fi-br-star"></i>
      </h6>
      <h2>More About Our Government</h2>
      <div class="title-shape"></div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div
          class="feature-block-two wow fadeInUp animated animated"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <img src="{% static 'images/resource/feature-3.jpg'%}" alt="" />
            </figure>
            <div class="lower-content">
              <div class="icon-box"><i class="flaticon-group"></i></div>
              <div class="light-icon"><i class="flaticon-group"></i></div>
              <h4><a href="about.html">More About Our Councilors</a></h4>
              <div class="btn-box">
                <a href="about.html"
                  >Read More<i class="flaticon-right-arrow"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div
          class="feature-block-two wow fadeInUp animated animated"
          data-wow-delay="200ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <img src="{% static 'images/resource/feature-4.jpg'%}" alt="" />
            </figure>
            <div class="lower-content">
              <div class="icon-box"><i class="flaticon-award"></i></div>
              <div class="light-icon"><i class="flaticon-award"></i></div>
              <h4><a href="about.html">Apply for Whitehall Awards</a></h4>
              <div class="btn-box">
                <a href="about.html"
                  >Read More<i class="flaticon-right-arrow"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div
          class="feature-block-two wow fadeInUp animated animated"
          data-wow-delay="400ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <img src="{% static 'images/resource/feature-5.jpg'%}" alt="" />
            </figure>
            <div class="lower-content">
              <div class="icon-box"><i class="flaticon-analytics"></i></div>
              <div class="light-icon"><i class="flaticon-analytics"></i></div>
              <h4><a href="about.html">Current Annual Report</a></h4>
              <div class="btn-box">
                <a href="about.html"
                  >Read More<i class="flaticon-right-arrow"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
        <div
          class="feature-block-two wow fadeInUp animated animated"
          data-wow-delay="600ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <img src="{% static 'images/resource/feature-6.jpg'%}" alt="" />
            </figure>
            <div class="lower-content">
              <div class="icon-box"><i class="flaticon-calendar-2"></i></div>
              <div class="light-icon"><i class="flaticon-calendar-2"></i></div>
              <h4><a href="about.html">Upcoming Council Meetings</a></h4>
              <div class="btn-box">
                <a href="about.html"
                  >Read More<i class="flaticon-right-arrow"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- feature-section end -->
{% endblock %}
