

{% extends "home/index.html" %}
<!---->
{% load static %}
<!---->
{% block title %}| Home{% endblock %} {% block content %}




      <!-- banner-section -->
      <section class="banner-section style-one">
        <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
          <div class="slide-item">
            <div
              class="image-layer"
              style="background-image: url({% static 'images/banner-1.png' %});"
            ></div>
            <div class="auto-container">
              <div class="content-box">
                <h6><i class="fi fi-rr-galaxy-star"></i>ASSHU</h6>
                <h1>Our Dream for Uganda’s Education.</h1>
                <p>
                  A united, empowered, and professional body of secondary school head teachers leading excellence in education across Uganda.
                </p>
                <div class="btn-box">
                  <a href="{% url 'about'%}" class="theme-btn">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-item">
            <div
              class="image-layer"
              style="background-image: url({% static 'images/banner-2.png' %})"
            ></div>
            <div class="auto-container">
              <div class="content-box">
                <h6><i class="fi fi-rr-galaxy-star"></i>What Drives Us</h6>
                <h1>How We Make a Difference.</h1>
                <p>
                  To empower head teachers through collaboration, advocacy, and professional development to deliver quality education and effective school leadership.
                </p>
                <div class="btn-box">
                  <a href="index.html" class="theme-btn">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="slide-item">
            <div
              class="image-layer"
              style="background-image: url({% static 'images/banner-3.png' %})"
            ></div>
            <div class="auto-container">
              <div class="content-box">
                <h6><i class="fi fi-rr-galaxy-star"></i>Our Beliefs</h6>
                <h1>What We Stand For.</h1>
                <p>
                  Excellence – Striving for continuous improvement in education delivery and leadership.
                  Service – Demonstrating commitment and responsibility to learners, educators, and the nation.
                </p>
                <div class="btn-box">
                  <a href="index.html" class="theme-btn">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner-section end -->

      <!-- activities-section -->
      <section class="activities-section centred bg-color-1">
        <div class="auto-container">
          <div class="inner-container">
            <div class="row clearfix">
              <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box">
                    <i class="fi fi-rs-truck-check"></i>
                  </div>
                  <h6>Association</h6>
                  <h4>United & Proffessional</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="fi fi-rr-parking-circle"></i></div>
                  <h6>Sec Schools </h6>
                  <h4>Education is key</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="fi fi-sr-student-alt"></i></div>
                  <h6>Headteachers</h6>
                  <h4>Empowered leadership</h4>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                <div class="single-item">
                  <div class="icon-box"><i class="fi fi-rr-tax-alt"></i></div>
                  <h6>Uganda</h6>
                  <h4>Development & Unity</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- activities-section end -->

      <!-- about-section -->
      <section class="about-section sec-pad bg-color-1">
        <div class="auto-container">
          <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="content_block_1">
                <div class="content-box">
                  <div class="sec-title">
                    <h6>
                      <i class="fi fi-rr-galaxy-star"></i><span>Welcome to ASSHU</span>
                    </h6>
                    <h2>Association of Secondary School Headteachers of Uganda</h2>
                    <div class="title-shape"></div>
                  </div>
                  <div class="text">
                    <h5>
                      Since our inception, ASSHU has grown into a strong and vibrant professional body, working to enhance leadership, collaboration, and the quality of secondary education across Uganda.
                    </h5>
                    <h4>President, “ Deborah Basekanakyo”</h4>
                    <p>
                      I am honored to lead a community dedicated to excellence in education and transformative leadership. Together, we strive to uplift the standards of secondary education across Uganda through collaboration, innovation, and unwavering commitment.
                    </p>
                  </div><!--
                  <div class="inner-box clearfix">
                    <figure class="signature pull-left">
                      <img
                        src="{% static 'images/signature.png' %}"
                        alt=""
                      />
                    </figure>
                    <ul class="social-style-one clearfix">
                      <li>
                        <a href="index.html"
                          ><i class="fab fa-facebook-f"></i
                        ></a>
                      </li>
                      <li>
                        <a href="index.html"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="index.html"
                          ><i class="fab fa-google-plus-g"></i
                        ></a>
                      </li>
                      <li>
                        <a href="index.html"
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </li>
                    </ul>
                  </div>-->
                  <div class="lower-box">
                    <div class="row clearfix">
                      <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                        <div
                          class="single-item wow fadeInLeft animated animated"
                          data-wow-delay="00ms"
                          data-wow-duration="1500ms"
                        >
                          <div class="icon-box">
                            <i class="fi fi-rr-light-emergency-on"></i>
                          </div>
                          <h5>Secretariat</h5>
                          <p><a href="tel:0773516684">+256 (772) 473 377</a></p>
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6 col-sm-12 single-column">
                        <div
                          class="single-item wow fadeInRight animated animated"
                          data-wow-delay="00ms"
                          data-wow-duration="1500ms"
                        >
                          <div class="icon-box">
                            <i class="fi fi-sr-customer-service"></i>
                          </div>
                          <h5>Emergency</h5>
                          <p><a href="tel:911">256</a> (772 607 740)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <div class="image_block_1">
                <div class="image-box">
                  <figure class="image">
                    <img
                      src="{% static 'images/about-1.png' %}"
                      alt=""
                    />
                  </figure>
                  <div class="text">
                    <h4>
                      “Let us continue to lead with purpose, serve with integrity, and inspire the next generation.”
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- about-section end -->

      <!-- explore-banner -->
      <div class="explore-banner bg-color-1">
        <div class="auto-container">
          <div class="inner-container clearfix">
            <div class="single-item">
              <div class="title-box">
                <h3>Recent Documents</h3>
                <p>Enjoy our recent publicatios.</p>
              </div>
            </div>
            <div class="single-item">
              <div class="inner-box">
                <figure class="icon-box">
                  <img
                    src="{% static 'images/icon-1.png' %}"
                    alt=""
                  />
                </figure>
                <h4>Exploring the Curriculum</h4>
                <p>
                  <a href="index.html">Download the Details file</a>
                </p>
              </div>
            </div>
            <div class="single-item">
              <div class="inner-box">
                <figure class="icon-box">
                  <img
                    src="{% static 'images/icon-1.png' %}"
                    alt=""
                  />
                </figure>
                <h4>ICT and Education</h4>
                <p>
                  <a href="index.html">Download the case study</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- explore-banner end -->

      <!-- service-section -->
      <section
        class="service-section"
        style="background-image: url({% static 'images/service-bg.jpg'%})"
      >
        <div class="auto-container">
          <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
              <div
                class="service-block-one wow fadeInLeft animated animated"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <h4>
                    <a href="police-crime.html">Integrity & Honesty</a>
                  </h4>
                  <div class="btn-box">
                    <a href="police-crime.html">More</a>
                  </div>
                  <div class="icon-box"><i class="fi fi-ss-puzzle-piece-integration"></i></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 title-column">
              <div class="sec-title centred">
                <div class="sec-title centred">
                  <h6>
                    <i class="fi fi-rr-galaxy-star"></i><span>What we stand for</span
                    ><i class="fi fi-rr-galaxy-star"></i>
                  </h6>
                  <h2>Explore Our Values</h2>
                  <div class="title-shape"></div>
                  <a href="departments.html" class="links"
                    >What we represent<i class="fi fi-rs-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
              <div
                class="service-block-one wow fadeInRight animated animated"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <h4>
                    <a href="tourism-travel.html">Leadership and Service</a>
                  </h4>
                  <div class="btn-box">
                    <a href="tourism-travel.html">More</a>
                  </div>
                  <div class="icon-box"><i class="fi fi-sr-chess-king-alt"></i></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
              <div
                class="service-block-one wow fadeInUp animated animated"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <h4>
                    <a href="trasport-traffic.html"
                      >Teamwork and Shared learning</a
                    >
                  </h4>
                  <div class="btn-box">
                    <a href="trasport-traffic.html">More</a>
                  </div>
                  <div class="icon-box">
                    <i class="fi fi-ss-lead-management"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
              <div
                class="service-block-one wow fadeInUp animated animated"
                data-wow-delay="200ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <h4>
                    <a href="arts-culture.html">Inclusiveness and Fairness</a>
                  </h4>
                  <div class="btn-box">
                    <a href="arts-culture.html">More</a>
                  </div>
                  <div class="icon-box"><i class="fi fi-rr-castle"></i></div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
              <div
                class="service-block-one wow fadeInUp animated animated"
                data-wow-delay="400ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <h4>
                    <a href="housing-land.html">Excellence & Persistance</a>
                  </h4>
                  <div class="btn-box">
                    <a href="housing-land.html">More</a>
                  </div>
                  <div class="icon-box">
                    <i class="fi fi-rr-briefcase"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
              <div
                class="service-block-one wow fadeInUp animated animated"
                data-wow-delay="600ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <h4>
                    <a href="health-medical.html"
                      >Commitment and Responsibility</a
                    >
                  </h4>
                  <div class="btn-box">
                    <a href="health-medical.html">More</a>
                  </div>
                  <div class="icon-box"><i class="fi fi-sr-school"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- service-section end -->

      <!-- schedules-section -->
      <section class="schedules-section sec-pad bg-color-1">
        <div
          class="bg-layer"
          style="
            background-image: url({% static 'images/schedule-bg.jpg'%});
          "
        ></div>
        <div class="auto-container">
          <div class="title-inner">
            <div class="row clearfix">
              <div class="col-lg-6 col-md-6 col-sm-12 title-column">
                <div class="sec-title light">
                  <h6>
                    <i class="fi fi-rr-galaxy-star"></i><span>Our Calendars</span>
                  </h6>
                  <h2>Our Schedules & Routines</h2>
                  <div class="title-shape"></div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                <div class="text">
                  <p>
                    We denounce with righteous indignation and dislike men who
                    are so beguiled demoralized charms of pleasure.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="schedule-tab">
            <div class="tab-btn-box">
              <ul class="tab-btns schedule-tab-btns clearfix">
                <li class="p-tab-btn active-btn" data-tab="#tab-1">
                  Upcoming Events
                </li>
                <li class="p-tab-btn" data-tab="#tab-2">Upcoming Metings</li>
                <li class="p-tab-btn" data-tab="#tab-3">Community Calendar</li>
              </ul>
            </div>
            <div class="inner-content">
              <div class="row clearfix">
                <div class="col-lg-4 col-md-12 col-sm-12 form-column">
                  <div class="subscribe-inner centred">
                    <div
                      class="upper-box"
                      style="
                        background-image: url({% static 'images/schedule-1.jpg'%});
                      "
                    >
                      <div class="icon-box">
                        <i class="flaticon-letter"></i>
                      </div>
                      <h3>Subscribe Us</h3>
                      <p>Get latest News & Events Details.</p>
                    </div>
                    <div class="lower-box">
                      <form
                        action="contact.html"
                        method="post"
                        class="subscribe-form"
                      >
                        <div class="form-group">
                          <input
                            type="email"
                            name="email"
                            placeholder="mailid@example.com"
                            required=""
                          />
                        </div>
                        <div class="form-group">
                          <button type="submit" class="theme-btn">
                            Subscribe Us
                          </button>
                        </div>
                      </form>
                      <div class="text">
                        <h6>Never share your email with others.</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
                  <div class="p-tabs-content">
                    <div class="p-tab active-tab" id="tab-1">
                      <div
                        class="two-column-carousel owl-carousel owl-theme owl-dots-none"
                      >
                        <div class="schedule-block-one">
                          <div class="inner-box">
                            <div class="image-box">
                              <figure class="image">
                                <img
                                  src="{% static 'images/schedule-2.jpg'%}"
                                  alt=""
                                />
                              </figure>
                              <div class="content-box">
                                <div class="post-date">
                                  <h3>28<span>Jan’21</span></h3>
                                </div>
                                <div class="text">
                                  <span class="category"
                                    ><i class="flaticon-star"></i
                                    >Celebration</span
                                  >
                                  <h4>
                                    <a href="event-details.html"
                                      >Public Affairs & Public Safety Committee
                                      Meeting</a
                                    >
                                  </h4>
                                </div>
                              </div>
                            </div>
                            <div class="lower-content">
                              <ul class="post-info clearfix">
                                <li>
                                  <i class="flaticon-clock-circular-outline"></i
                                  >3.00 pm - 4.30 pm
                                </li>
                                <li>
                                  <i class="flaticon-gps"></i>Heaton Park, Mt
                                  Road M25 2SW
                                </li>
                              </ul>
                              <div class="links">
                                <a href="event-details.html"
                                  >Read More<i class="flaticon-right-arrow"></i
                                ></a>
                              </div>
                              <div class="share-box">
                                <a href="index.html"
                                  >Share<i class="fas fa-share-alt"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="schedule-block-one">
                          <div class="inner-box">
                            <div class="image-box">
                              <figure class="image">
                                <img
                                  src="{% static 'images/schedule-3.jpg'%}"
                                  alt=""
                                />
                              </figure>
                              <div class="content-box">
                                <div class="post-date">
                                  <h3>15<span>Feb’21</span></h3>
                                </div>
                                <div class="text">
                                  <span class="category"
                                    ><i class="fi fi-rr-galaxy-star"></i>Art &
                                    Culture</span
                                  >
                                  <h4>
                                    <a href="event-details.html"
                                      >Street San Antonio Sketches & Urban
                                      History</a
                                    >
                                  </h4>
                                </div>
                              </div>
                            </div>
                            <div class="lower-content">
                              <ul class="post-info clearfix">
                                <li>
                                  <i class="flaticon-clock-circular-outline"></i
                                  >10.00 am - 6.30 pm
                                </li>
                                <li>
                                  <i class="flaticon-gps"></i>182 St Georges
                                  Road, San Antonio
                                </li>
                              </ul>
                              <div class="links">
                                <a href="event-details.html"
                                  >Read More<i class="flaticon-right-arrow"></i
                                ></a>
                              </div>
                              <div class="share-box">
                                <a href="index.html"
                                  >Share<i class="fas fa-share-alt"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-tab" id="tab-2">
                      <div
                        class="two-column-carousel owl-carousel owl-theme owl-dots-none"
                      >
                        <div class="schedule-block-one">
                          <div class="inner-box">
                            <div class="image-box">
                              <figure class="image">
                                <img
                                  src="{% static 'images/schedule-2.jpg'%}"
                                  alt=""
                                />
                              </figure>
                              <div class="content-box">
                                <div class="post-date">
                                  <h3>28<span>Jan’21</span></h3>
                                </div>
                                <div class="text">
                                  <span class="category"
                                    ><i class="flaticon-star"></i
                                    >Celebration</span
                                  >
                                  <h4>
                                    <a href="event-details.html"
                                      >Public Affairs & Public Safety Committee
                                      Meeting</a
                                    >
                                  </h4>
                                </div>
                              </div>
                            </div>
                            <div class="lower-content">
                              <ul class="post-info clearfix">
                                <li>
                                  <i class="flaticon-clock-circular-outline"></i
                                  >3.00 pm - 4.30 pm
                                </li>
                                <li>
                                  <i class="flaticon-gps"></i>Heaton Park, Mt
                                  Road M25 2SW
                                </li>
                              </ul>
                              <div class="links">
                                <a href="event-details.html"
                                  >Read More<i class="flaticon-right-arrow"></i
                                ></a>
                              </div>
                              <div class="share-box">
                                <a href="index.html"
                                  >Share<i class="fas fa-share-alt"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="schedule-block-one">
                          <div class="inner-box">
                            <div class="image-box">
                              <figure class="image">
                                <img
                                  src="{% static 'images/index-1-3-580x334.jpg' %}"
                                  alt=""
                                />
                              </figure>
                              <div class="content-box">
                                <div class="post-date">
                                  <h3>15<span>Feb’21</span></h3>
                                </div>
                                <div class="text">
                                  <span class="category"
                                    ><i class="fi fi-rr-galaxy-star"></i>Art &
                                    Culture</span
                                  >
                                  <h4>
                                    <a href="event-details.html"
                                      >Street San Antonio Sketches & Urban
                                      History</a
                                    >
                                  </h4>
                                </div>
                              </div>
                            </div>
                            <div class="lower-content">
                              <ul class="post-info clearfix">
                                <li>
                                  <i class="flaticon-clock-circular-outline"></i
                                  >10.00 am - 6.30 pm
                                </li>
                                <li>
                                  <i class="flaticon-gps"></i>182 St Georges
                                  Road, San Antonio
                                </li>
                              </ul>
                              <div class="links">
                                <a href="event-details.html"
                                  >Read More<i class="flaticon-right-arrow"></i
                                ></a>
                              </div>
                              <div class="share-box">
                                <a href="index.html"
                                  >Share<i class="fas fa-share-alt"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="p-tab" id="tab-3">
                      <div
                        class="two-column-carousel owl-carousel owl-theme owl-dots-none"
                      >
                        <div class="schedule-block-one">
                          <div class="inner-box">
                            <div class="image-box">
                              <figure class="image">
                                <img
                                  src="{% static 'images/schedule-3.jpg'%}"
                                  alt=""
                                />
                              </figure>
                              <div class="content-box">
                                <div class="post-date">
                                  <h3>28<span>Jan’21</span></h3>
                                </div>
                                <div class="text">
                                  <span class="category"
                                    ><i class="flaticon-star"></i
                                    >Celebration</span
                                  >
                                  <h4>
                                    <a href="event-details.html"
                                      >Public Affairs & Public Safety Committee
                                      Meeting</a
                                    >
                                  </h4>
                                </div>
                              </div>
                            </div>
                            <div class="lower-content">
                              <ul class="post-info clearfix">
                                <li>
                                  <i class="flaticon-clock-circular-outline"></i
                                  >3.00 pm - 4.30 pm
                                </li>
                                <li>
                                  <i class="flaticon-gps"></i>Heaton Park, Mt
                                  Road M25 2SW
                                </li>
                              </ul>
                              <div class="links">
                                <a href="event-details.html"
                                  >Read More<i class="flaticon-right-arrow"></i
                                ></a>
                              </div>
                              <div class="share-box">
                                <a href="index.html"
                                  >Share<i class="fas fa-share-alt"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="schedule-block-one">
                          <div class="inner-box">
                            <div class="image-box">
                              <figure class="image">
                                <img
                                  src="{% static 'images/index-1-3-580x334.jpg' %}"
                                  alt=""
                                />
                              </figure>
                              <div class="content-box">
                                <div class="post-date">
                                  <h3>15<span>Feb’21</span></h3>
                                </div>
                                <div class="text">
                                  <span class="category"
                                    ><i class="fi fi-rr-galaxy-star"></i>Art &
                                    Culture</span
                                  >
                                  <h4>
                                    <a href="event-details.html"
                                      >Street San Antonio Sketches & Urban
                                      History</a
                                    >
                                  </h4>
                                </div>
                              </div>
                            </div>
                            <div class="lower-content">
                              <ul class="post-info clearfix">
                                <li>
                                  <i class="flaticon-clock-circular-outline"></i
                                  >10.00 am - 6.30 pm
                                </li>
                                <li>
                                  <i class="flaticon-gps"></i>182 St Georges
                                  Road, San Antonio
                                </li>
                              </ul>
                              <div class="links">
                                <a href="event-details.html"
                                  >Read More<i class="flaticon-right-arrow"></i
                                ></a>
                              </div>
                              <div class="share-box">
                                <a href="index.html"
                                  >Share<i class="fas fa-share-alt"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- schedules-section end -->

      <!-- solutions-section -->
      <section class="solutions-section">
        <figure class="image-layer">
          <img src="{% static 'images/statue-1.png' %}" alt="" />
        </figure>
        <div class="pattern-box">
          <div
            class="pattern-1"
            style="
              background-image: url("{% static 'images/shape-2.png' %}");
            "
          ></div>
          <div
            class="pattern-2"
            style="
              background-image: url({% static 'images/shape-3.png' %});
            "
          ></div>
          <div
            class="pattern-3"
            style="
              background-image: url("{% static 'images/shape-3.png' %}");
            "
          ></div>
          <div
            class="pattern-4 float-bob-y"
            style="
              background-image: url("{% static 'images/shape-4.png' %}");
            "
          ></div>
        </div>
        <div class="auto-container">
          <div class="sec-title centred">
            <h6>
              <i class="fi fi-rr-galaxy-star"></i><span>Our Services</span
              ><i class="fi fi-rr-galaxy-star"></i>
            </h6>
            <h2>Instant Solutions For All</h2>
            <div class="title-shape"></div>
          </div>
          <div class="inner-container">
            <div class="upper-box clearfix">
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-sr-chart-user"></i></div>
                  <h4>Capacity building</h4>
                  <p>Professional Development & Training</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-sr-lawyer-man"></i></div>
                  <h4>Representation</h4>
                  <p>Advocacy & Representation</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-ss-customer-service"></i></div>
                  <h4>Leadership Support</h4>
                  <p>Resources, templates, and best practices</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-rr-medal"></i></div>
                  <h4>Awards</h4>
                  <p>Recognition, Accolades & Awards</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-ts-newspaper"></i></div>
                  <h4>Access to Information</h4>
                  <p>Publishing newsletters, journals, or bulletins</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-sr-student-alt"></i></div>
                  <h4>Educational Outreach Programs</h4>
                  <p>Partnering with schools to organize community learning events</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-rr-users-medical"></i></div>
                  <h4>Development</h4>
                  <p>School-Community Development Projects</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-rs-microscope-bacteria"></i></div>
                  <h4>Policy Support and Research</h4>
                  <p>Contributing to national education research, policy review, and curriculum</p>
                </div>
              </div>
              <div class="solution-block-one">
                <div class="inner-box">
                  <div class="icon-box"><i class="fi fi-rs-cloud-sun"></i></div>
                  <h4>Disaster and Crisis Response</h4>
                  <p>Mobilizing school communities and resources in times of national emergencies</p>
                </div>
              </div>
            </div>
            <div class="lower-box clearfix">
              <div
                class="bg-layer"
                style="background-image: url({% static 'images/bg-1.jpg' %})"
              ></div>
              <div class="text pull-left">
                <div class="icon-box"><i class="flaticon-idea"></i></div>
                <h3>National Cohesion & Values Promotion.</h3>
                <p>
                  Promoting unity, patriotism, and civic responsibility through school activities
                </p>
              </div>
              <div class="btn-box pull-right">
                <a href="index.html" class="theme-btn">Share your Say</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- solutions-section end -->



<!-- team-section -->
<section class="team-section sec-pad">
  <div class="auto-container">
    <div class="sec-title">
      <h6><i class="fi fi-br-star"></i><span>Whitehall Team</span></h6>
      <h2>Meet Council Members</h2>
      <div class="title-shape"></div>
      <a href="index.html" class="theme-btn">All members</a>
    </div>
    <div class="row clearfix">
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="00ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-1.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">Deborah Basekanakyo</a></h4>
                <span class="designation">President</span>
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">+44 888 12 345</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="200ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-2.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">Hajjat Nabukeera Zulaika</a></h4>
                <span class="designation">National General Secretary</span>
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">+44 888 12 345</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="400ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-3.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">Opoka Christopher</a></h4>
                <span class="designation"
                  >1<sup>st </sup> Vice Chairperson</span
                >
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">0392972607</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 team-block">
        <div
          class="team-block-one wow fadeInUp animated animated"
          data-wow-delay="600ms"
          data-wow-duration="1500ms"
        >
          <div class="inner-box">
            <figure class="image-box">
              <a href="index.html"
                ><img src="{% static 'images/team-4.jpg'%}" alt=""
              /></a>
            </figure>
            <div class="lower-content">
              <div class="author-box">
                <h4><a href="index.html">John Ngirabakunzi</a></h4>
                <span class="designation">National Assistant Secretary</span>
              </div>
              <ul class="othre-info clearfix">
                <li class="mail-box">
                  <a href="index.html"
                    ><i class="fi fi-br-envelope"></i>Email</a
                  >
                </li>
                <li class="phone-box">
                  <i class="fi fi-sr-phone-call"></i
                  ><a href="tel:4488812345">+44 888 12 345</a>
                </li>
                <li class="share-option">
                  <i class="fi fi-rr-share"></i>
                  <ul class="share-links clearfix">
                    <li>
                      <a href="index.html"
                        ><i class="fab fa-pinterest-p"></i
                      ></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="index.html"><i class="fab fa-facebook-f"></i></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team-section end -->

      <!-- news-section -->
      <section class="news-section bg-color-1">
        <div class="auto-container">
          <div class="sec-title centred">
            <h6>
              <i class="fi fi-rr-galaxy-star"></i><span>News & Blog</span
              ><i class="fi fi-rr-galaxy-star"></i>
            </h6>
            <h2>Latest From Our Newsroom</h2>
            <div class="title-shape"></div>
          </div>
          <div class="row clearfix">
            {% for article in articles %}
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
              <div
                class="news-block-one wow fadeInUp animated animated"
                data-wow-delay="00ms"
                data-wow-duration="1500ms"
              >
                <div class="inner-box">
                  <div class="image-box">
                    <figure class="image">
                      <a href="{% url 'post' article.id %}"
                        ><i class="fas fa-link"></i
                      ></a>
                      <img
                        src="{{article.featured_image.url}}"
                        alt=""
                      />
                    </figure>
                    <div class="post-date">
                      <h3>
                        {{ article.created_at|date:"d" }}
                        <span>{{ article.created_at|date:"b’y" }}</span>
                      </h3>
                      
                    </div>
                  </div>
                  <div class="lower-content">
                    <div class="category">
                      <a href="index.html"
                        ><i class="fi fi-rr-galaxy-star"></i>{{article.category}}</a
                      >
                    </div>
                    <h4>
                      <a href="blog-details.html"
                        >{{ article.title|slice:":50" }}
                        </a
                      >
                    </h4>
                    <ul class="post-info clearfix">
                      <li>
                        <i class="far fa-user"></i
                        ><a href="blog-details.html">{{article.author}}</a>
                      </li>
                      <li>
                        <i class="far fa-comment"></i
                        ><a href="blog-details.html">2 Comments</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
 {% endfor %}
          </div>
        </div>
      </section>
      <!-- news-section end -->

      <!-- funfact-section -->
      <section class="funfact-section">
        <div
          class="pattern-layer"
          style="background-image: url({% static 'images/shape-7.png' %})"
        ></div>
        <div class="auto-container">
          <div class="funfact-content">
            <div class="row clearfix">
              <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                <div class="sec-title">
                  <h6>
                    <i class="fi fi-rr-galaxy-star"></i><span>Interesting Facts</span>
                  </h6>
                  <h2>ASSHU In Numbers</h2>
                  <div class="title-shape"></div>
                </div>
              </div>
              <div class="col-lg-8 col-md-12 col-sm-12 inner-column">
                <div class="funfact-inner centred">
                  <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                      <div class="funfact-block-one">
                        <div class="inner-box">
                          <div class="count-outer count-box">
                            <span
                              class="count-text"
                              data-speed="1500"
                              data-stop="45"
                              >0</span
                            ><span>k</span>
                          </div>
                          <h6>ASSHU Members</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                      <div class="funfact-block-one">
                        <div class="inner-box">
                          <div class="count-outer count-box">
                            <span
                              class="count-text"
                              data-speed="1500"
                              data-stop="168"
                              >0</span
                            >
                          </div>
                          <h6>Member Associations</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                      <div class="funfact-block-one">
                        <div class="inner-box">
                          <div class="count-outer count-box">
                            <span
                              class="count-text"
                              data-speed="1500"
                              data-stop="1.5"
                              >0</span
                            ><span>M</span>
                          </div>
                          <h6>Total Schools</h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 funfact-block">
                      <div class="funfact-block-one">
                        <div class="inner-box">
                          <div class="count-outer count-box">
                            <span
                              class="count-text"
                              data-speed="1500"
                              data-stop="7"
                              >0</span
                            ><span>th</span>
                          </div>
                          <h6>Largest in Africa</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
      <!-- funfact-section end -->
       {% endblock %}