{% extends "home/index.html" %}
<!---->
{% load static %}
<!---->
{% block title %}| {{article}}{% endblock %} {% block content %}

<!-- Page Title -->
<section
  class="page-title blog-page style-two"
  style="background-image: url({{article.featured_image.url}})"
>
  <div class="auto-container">
    <div class="content-box">
      <div class="title centred">
        <span class="category"
          ><i class="flaticon-star"></i>{{article.category}}</span
        >
        <h1>{{article.title}}</h1>
      </div>
    </div>
  </div>
  <div class="lower-box">
    <div class="auto-container">
      <div class="post-content">
        <div class="left-column">
          <div class="post-date">
            <h3>
              {{ article.created_at|date:"d" }}
              <span>{{ article.created_at|date:"b’y" }}</span>
            </h3>
          </div>
          <ul class="post-info clearfix">
            <li>
              <i class="far fa-user"></i
              ><a href="blog-details.html">{{article.author}}</a>
            </li>
            <li>
              <i class="far fa-comment"></i
              ><a href="blog-details.html">2 Comments</a>
            </li>
            <li>
              <i class="far fa-heart"></i
              ><a href="blog-details.html">5 Likes</a>
            </li>
          </ul>
        </div>
        <div class="right-column">
          <div class="share-box">
            <a href="blog-details.html"
              >Share This Post<i class="flaticon-share"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- sidebar-page-container -->
<section class="sidebar-page-container sec-pad-2">
  <div class="auto-container">
    <div class="row clearfix">
      <div class="col-lg-8 col-md-12 col-sm-12 content-side">
        <div class="blog-details-content">
          <div class="inner-box">
            <figure class="image-box">
              <img src="{{article.featured_image.url}}" alt="" />
            </figure>

            <div class="text">{{article.content|safe}}</div>
          </div>

          <div class="post-nav-btn clearfix">
            {% for article in related_articles %}
            <div class="left-nav nav-btn pull-left">
              <figure class="image-box">
                <img src="{{article.featured_image.url}}" alt="" />
              </figure>

              <h6>{{article.title}}</h6>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
        <div class="blog-sidebar">
          <div class="search-widget">
            <form action="blog-2.html" method="post" class="search-form">
              <div class="form-group">
                <input
                  type="search"
                  name="search-field"
                  placeholder="Enter Keyword ..."
                  required=""
                />
                <button type="submit"><i class="far fa-search"></i></button>
              </div>
            </form>
          </div>
          <div class="sidebar-widget category-widget">
            <div class="widget-title">
              <h3>Categories</h3>
            </div>
            <div class="widget-content">
              <ul class="category-list clearfix">
                <li>
                  <a href="blog-details.html">Announcement<span>(10)</span></a>
                </li>
                <li>
                  <a href="blog-details.html">Education<span>(06)</span></a>
                </li>
                <li>
                  <a href="blog-details.html">Opportunities<span>(12)</span></a>
                </li>
                <li>
                  <a href="blog-details.html"
                    >Public Information<span>(14)</span></a
                  >
                </li>
                <li>
                  <a href="blog-details.html">Regeneration<span>(05)</span></a>
                </li>
                <li>
                  <a href="blog-details.html">Tourist Guide<span>(09)</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="sidebar-widget post-widget">
            <div class="widget-title">
              <h3>Popular Post</h3>
            </div>
            <div class="widget-content">
              <div class="post">
                <figure class="post-thumb">
                  <a href="blog-details.html"
                    ><img src="assets/images/news/post-1.jpg" alt=""
                  /></a>
                </figure>
                <h6>
                  <a href="blog-details.html"
                    >Make Your Festive Season Zero-Waste</a
                  >
                </h6>
                <p><i class="far fa-calendar"></i>Jan 10, 2021</p>
              </div>
              <div class="post">
                <figure class="post-thumb">
                  <a href="blog-details.html"
                    ><img src="assets/images/news/post-2.jpg" alt=""
                  /></a>
                </figure>
                <h6>
                  <a href="blog-details.html"
                    >City Council Commits to Green New Deal</a
                  >
                </h6>
                <p><i class="far fa-calendar"></i>Dec 26, 2020</p>
              </div>
              <div class="post">
                <figure class="post-thumb">
                  <a href="blog-details.html"
                    ><img src="assets/images/news/post-3.jpg" alt=""
                  /></a>
                </figure>
                <h6>
                  <a href="blog-details.html"
                    >Moves to Third Step Towards COVID Normal</a
                  >
                </h6>
                <p><i class="far fa-calendar"></i>Dec 05, 2020</p>
              </div>
            </div>
          </div>
          <div class="sidebar-widget archives-widget">
            <div class="widget-title">
              <h3>Archives</h3>
            </div>
            <div class="widget-content">
              <div class="select-box">
                <div class="icon-box"><i class="far fa-calendar"></i></div>
                <select class="wide">
                  <option data-display="November 2020">November 2020</option>
                  <option value="1">Nov 2019</option>
                  <option value="2">Oct 2019</option>
                  <option value="3">Sep 2019</option>
                  <option value="4">Aug 2019</option>
                </select>
              </div>
            </div>
          </div>
          <div class="sidebar-widget tags-widget">
            <div class="widget-title">
              <h3>Popular Tags</h3>
            </div>
            <div class="widget-content">
              <ul class="tags-list clearfix">
                <li><a href="blog-details.html">Activities</a></li>
                <li><a href="blog-details.html">Certificates</a></li>
                <li><a href="blog-details.html">Culture</a></li>
                <li><a href="blog-details.html">Departments</a></li>
                <li><a href="blog-details.html">Drinks & Food</a></li>
                <li><a href="blog-details.html">Mayor</a></li>
                <li><a href="blog-details.html">Recreation</a></li>
                <li><a href="blog-details.html">Taxes & Bills</a></li>
                <li><a href="blog-details.html">Transport</a></li>
                <li><a href="blog-details.html">Utilities</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- sidebar-page-container end -->
{% endblock %}
