{% load static %}

<!-- <script src="{% static 'js/variables.js' %}"></script>
 -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'libs/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'libs/metisMenu.min.js'%}"></script>
<script src="{% static 'libs/simplebar.min.js'%}"></script>
<script src="{% static 'libs/waves.min.js'%}"></script>
<script src="{% static 'libs/feather.min.js'%}"></script>
<!-- pace js -->
<script src="{% static 'libs/pace.min.js'%}"></script>

<!-- apexcharts -->
<script src="{% static 'libs/apexcharts.min.js'%}"></script>

<!-- Plugins js-->
<script src="{% static 'libs/jquery-jvectormap-1.2.2.min.js'%}"></script>
<script src="{% static 'libs/jquery-jvectormap-world-mill-en.js'%}"></script>
<!-- dashboard init -->
<script src="{% static 'js/dashboard.init.js'%}"></script>

<script src="{% static 'js/app.js'%}"></script>
<script
  src="https://cdn.tiny.cloud/1/1sak5hk2rhbstz43pdd0yssyyt7t2a5hnklyco5k34k0otv7/tinymce/6/tinymce.min.js"
  referrerpolicy="origin"
></script>

<script>
  tinymce.init({
    selector: "textarea", // or your custom selector
    plugins: "image link media code",
    toolbar:
      "undo redo | styleselect | bold italic | alignleft aligncenter alignright | image media link | code",
    automatic_uploads: true,
    images_upload_url: "/upload/",
    file_picker_types: "image",
    images_upload_handler: function (blobInfo, success, failure) {
      let formData = new FormData();
      formData.append("image", blobInfo.blob(), blobInfo.filename());

      fetch("/upload/", {
        method: "POST",
        body: formData,
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        },
      })
        .then((response) => response.json())
        .then((data) => success(data.location))
        .catch(() => failure("Image upload failed"));
    },
  });
</script>

<script>
  $(document).ready(function () {
    $("#myTable").DataTable();
  });
</script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  $(document).ready(function () {
    $(".js-example-basic-multiple-name").select2({
      placeholder: "Select athlete names",
      allowClear: true,
    });
  });
</script>
